<!-- <router-outlet></router-outlet> -->

<div fxLayout="column" class="container" (click)="hideList()">
  <form class="example-form" fxLayout="row" class="top" fxLayoutAlign="center center">
    <!-- <input type="text" id="inputField" [(ngModel)]="inputData" (keypress)="keyUp()"> -->

    <div class="example-full-width" fxLayout="column" fxLayoutAlign="center center">
      <input type="text" name="inputField" [formControl]="inputData" (keyup)="keyUp($event)" placeholder="Search the word" autocomplete="off">
      <ul fxLayoutAlign="start start" fxLayout="column" *ngIf="showList">
        <li *ngFor="let option of suggestionsArray " [value]="option" (click)="updateValue(option)">
          {{option}}
        </li>
      </ul>
    </div>

    <!-- <div fxLayout="column" >
      <input type="text" placeholder="Pick one" aria-label="Number" [formControl]="inputData" (keyup)="keyUp($event)">
      <ng-scrollbar>

        <ul>
          
          <li class="item" *ngFor="let option of suggestionsArray" (click)="selectItem(item)">
            {{option}}
          </li>
        </ul>
      </ng-scrollbar>

    </div> -->



    <button type="submit" (click)="clickFn()">GO</button>
  </form>

  <div style="text-align:center">
    <div fxLayout="column" class="bottom" fxLayoutAlign="start center" >
      <div *ngIf="outputArray && outputArray.length != 0 ">
        <p class="heading">Top {{outputArray.length}} Searched word</p>
        <div *ngFor="let data of outputArray" fxLayout="row" fxLayoutAlign="center center">
          <p>
            {{data.word}}
          </p>
        </div>
      </div>
      <div *ngIf="outputArray && outputArray.length == 0" fxLayoutAlign="center center" class="heading">No
        Result Found</div>
    </div>

    <div *ngIf="recentlyUsedWords && recentlyUsedWords.length && showRecent" class="recent">
      <div class="heading">Recently Used Words</div>
      <div *ngFor="let ele of recentlyUsedWords" (click)="recentClick(ele.name)">
        <div *ngIf="ele.name" class="elementREcent">
          {{ele.name}}
        </div>
      </div>
    </div>
  </div>

</div>
<div class="overlay" *ngIf="showLoader" fxLayoutAlign="center center">
  <img src="assets/Spinner-1s-200px.svg">
</div>